.khanimport-button-link{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-color: #005AA8;
  background-image: -moz-linear-gradient(top,#0070a8,#0038a8);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0070A8),to(#0038A8));
  background-image: -webkit-linear-gradient(top,#0070A8,#0038A8);
  background-image: -o-linear-gradient(top,#0070a8,#0038a8);
  background-image: linear-gradient(to bottom,#0070A8,#0038A8);
  background-repeat: repeat-x;
  border: 1px solid #CCC;
  border-color: #0038A8 #0038A8 #001E5C;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
}

.khanimport-button-link:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #0038A8;
}

.khanimport-button-link:link {
  text-decoration: none;
  color:white;
}

.khanimport-button-link:visited {
  text-decoration: none;
  color:white;
}

.khanimport-button-link:active {
  text-decoration: none;
  color:white;
}
